{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/css/style.css"><title>P&A Korean Blinds</title>
</head>
<body>
<!-- header -->
	<section id="header">
		<div class="header container">
			<div class="navi">
				<div class="logo">
					<img src="/static/imgs/logo.png" alt="logo">
				</div>
				<div class="brand">
					<h1>P<span>&</span>A <span>K</span>orean <span>B</span>linds</h1></a>
				</div>
				<div class="nav-list">
					<div class="hamburger"><div class="bar"></div></div>
					<ul>
						<li><a href="http://pakoreanblinds.ph" data-after="Home">Home</a></li>
						<li><a href="#about" data-after="About">About</a></li>
						<li><a href="#products" data-after="Products">Products</a></li>
						<li><a href="#gallery" data-after="Gallery">Gallery</a></li>
						<li><a href="#order" data-after="Order Now!">Order Now!</a></li>
						<li><a href="#detail" data-after="Contact Me">Contact Me</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- end header -->

<!-- home page -->
	<section id="landing">
		<div class="landing container">
			<div>
				<h1>P&A<span></span></h1>
				<h1>Korean<span></span></h1>
				<h1>Blinds<span></span></h1>
				<!--
				<a href="https://www.facebook.com/messages/t/103745061439054" type="button" class="cta">Messenger</a>-->
			</div>
		</div>
	</section>
<!-- end home page -->

<!-- about section -->
	<section id="about">
		<div class="about container">
			<div class="about-top">
				<h1 class="title">About <span>Us</span></h1>
			</div>
			<div class="about-bottom">
				<div class="mission">
					<div class="icon1"><img src="https://img.icons8.com/fluent/48/000000/creativity.png"/>
					</div>
					<h2>Mission</h2>
					<p>We aim to make every home comfortable and elegant by bringing you the best window blinds that suits your taste and let yourself indulge in the beauty of your window. </p>
				</div>
				<div class="vision">
					<div class="icon2"><img src="https://img.icons8.com/doodle/48/000000/binoculars.png"/>
					</div>
					<h2>Vision</h2>
					<p>P&A Korean Blinds wants to be one of the most trusted and best window blinds dealer in the Philippines by helping you to make your dream house to come true.</p>
				</div>
				<div class="other">
					<div class="icon3"><img src="https://img.icons8.com/bubbles/48/000000/document.png"/>
					</div>
					<h2>Other</h2>
					<p>We offer <strong>free estimation, free installment, and free delivery</strong> in anytime and anywhere that you are available. Feel free to messages us directly for any concerns and inquiries.</p>
				</div>
			</div>
		</div>
	</section>
<!-- end about section -->

<!-- products section -->
	<section id="products">
		<div class="products container">
			<div id="prod-header">
				<h1 class="title">Prod<span>u</span>cts</h1>
			</div>
			<div id="all-products">
				<div class="horizontal">
					<div class="info">
						<h1>Horizontal Blinds</h1>
						<h2>Available</h2>
						<p>the most popular window blind designs. They have a traditional look, so consumers are very familiar with them…and very comfortable with them! With horizontal styles, the slats usually measure between one and two inches. They are common choices for windows of small or medium size.</p>
					</div>
					<div class="img1">
						<img src="/static/imgs/2.jpeg" alt="img">
					</div>
				</div>
				<div class="vertical">
					<div class="info">
						<h1>Vertical Blinds</h1>
						<h2>Available</h2>
						<p>Have bigger slats. These slats hang from rail tracks at the top of the window. Vertical window blinds may be closed or opened via wands or chain pull systems. These styles of blinds are optimal choices for covering bigger windows. They are also ideal for covering sliding glass doors.</p>
					</div>
					<div class="img2">
						<img src="/static/imgs/5.jpeg" alt="img">
					</div>
				</div>
				<div class="automatic">
					<div class="info">
						<h1>Automatic Blinds</h1>
						<h2>Available</h2>
						<p>Automatic blinds work by using a small motor to gently turn the blind shaft at the touch of a button. This effectively allows the blind fabric to roll up or down a vertical window, or across a sky lantern, to shade or uncover the glazing.</p>
					</div>
					<div class="img3">
						<img src="./img/3.jpeg" alt="img">
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- end products section -->

<!-- gallery section -->
	<section id="gallery">
		<div class="gallery">
			<div class="title">
				<h1>Gall<span>e</span>ry</h1>
			</div>
			<div class="first">
				<div class="firstleft">
					<h1>Madam Marinell Gongala</h1>
					<p>Another Satisfied and Happy Costumer😊 Pahabol bago mag End ang Year 2020. Thankyou🙏 God bless to your family Madam😇</p>
					<p><strong>Location:</strong> B&G Compound Aurora St. Bauan Batangas</p>
				</div>
				<div id="slider">
					<figure>
						<img src="img/cust1/1.jpg" alt="img">
			
						<img src="img/cust1/2.jpg" alt="img">
			
						<img src="img/cust1/3.jpg" alt="img">

						<img src="img/cust1/4.jpg" alt="img">
			
						<img src="img/cust1/5.jpg" alt="img">
					</figure>
				</div>
			</div>

			<div class="second">
				<div class="secondleft">
					<h1>Mr. Rudy Gucen</h1>
					<p>God bless to your family Sir😇 Thanks for Choosing P&A Korean Blinds</p>
					<p><strong>Location:</strong> Amadeo</p>
					<p><strong>Fabric:</strong> Trilogy Choco</p>
				</div>
				<div id="slider">
					<figure>
						<img src="img/cust2/1.jpg" alt="img">
			
						<img src="img/cust2/2.jpg" alt="img">
			
						<img src="img/cust2/3.jpg" alt="img">

						<img src="img/cust2/4.jpg" alt="img">
			
						<img src="img/cust2/5.jpg" alt="img">
					</figure>
				</div>
			</div>

			<div class="third">
				<div class="thirdleft">
					<h1>Mrs. Neri Buendia</h1>
					<p>God bless to your family Madam😇 Thanks for Choosing P&A Korean Blinds</p>
					<p><strong>Location:</strong> Kawit Cavite</p>
					<p><strong>Fabric:</strong> Picasso Brown Block out</p>
				</div>
				<div id="slider">
					<figure>
						<img src="img/cust3/1.jpg" alt="img">
			
						<img src="img/cust3/2.jpg" alt="img">
			
						<img src="img/cust3/3.jpg" alt="img">

						<img src="img/cust3/4.jpg" alt="img">
			
						<img src="img/cust3/5.jpg" alt="img">
					</figure>
				</div>
			</div>

			<div class="forth">
				<div class="forthleft">
					<h1>Madam Lailah Gayanilo</h1>
					<p>Thanks for Choosing P&A Korean Blinds
						Till nxt Transaction Madam🙏☺️
						Godbless to your family😇🙂</p>
					<p><strong>Location:</strong> Gainsville Subd Bulihan Silang Cavite</p>
					<p><strong>Fabric:</strong> Timber Choco/ Natural Gray& Brown</p>
				</div>
				<div id="slider">
					<figure>
						<img src="img/cust4/1.jpg" alt="img">
			
						<img src="img/cust4/2.jpg" alt="img">
			
						<img src="img/cust4/3.jpg" alt="img">

						<img src="img/cust4/4.jpg" alt="img">
			
						<img src="img/cust4/5.jpg" alt="img">
					</figure>
				</div>
			</div>

			<div class="fifth">
				<div class="fifthleft">
					<h1>Mrs.Sonia Magsino</h1>
					<p>Godbless to your family!😇</p>
					<p><strong>Location:</strong> San Pascual Bayanan Purok9 Batanggas City</p>
					<p><strong>Fabric:</strong> Natural Fabric</p>
				</div>
				<div id="slider">
					<figure>
						<img src="img/cust5/1.jpg" alt="img">
			
						<img src="img/cust5/2.jpg" alt="img">
			
						<img src="img/cust5/3.jpg" alt="img">

						<img src="img/cust5/4.jpg" alt="img">
			
						<img src="img/cust5/5.jpg" alt="img">
					</figure>
				</div>
			</div>

			<div class="sixth">
				<div class="sixthleft">
					<h1>Madam Karishma Sanfuego</h1>
					<p>Thank you and Godbless to your family😇</p>
					<p><strong>Location:</strong> GreenBreeze Village 6 General Trias Cavite</p>
					<p><strong>Fabric: </strong>Trilogy Brown and Natural Choco</p>
				</div>
				<div id="slider">
					<figure>
						<img src="img/cust6/1.jpg" alt="img">
			
						<img src="img/cust6/2.jpg" alt="img">
			
						<img src="img/cust6/3.jpg" alt="img">

						<img src="img/cust6/4.jpg" alt="img">
			
						<img src="img/cust6/5.jpg" alt="img">
					</figure>
				</div>
			</div>

			<div class="seventh">
				<div class="seventhleft">
					<h1>Madam  Cindy Benueva</h1>
					<p>Thank you and Godbless to your family😇</p>
					<p><strong>Location:</strong> Lipa City Batanggas</p>
					<p><strong>Type: </strong>Vertical Polyester Korean Blinds</p>
				</div>
				<div id="video">
					<figure>
						<video controls>
							<source src="img/Cust7.mp4" type="video/mp4">
							<source src="img/Cust7.mp4" type="video/ogg">
							Your browser does not support HTML video.
						</video>
					</figure>
				</div>
			</div>

			<div class="eight">
				<div class="eightleft">
					<h1>Madam Jen Guzman</h1>
					<p>Another Satisfied and Happy Costumer😊 Pahabol bago mag End ang Year 2020. Thankyou🙏 God bless to your family Madam😇</p>
					<p><strong>Location:</strong> Lipa City Batanggas</p>
					<p><strong>Type: </strong>Natural Combi Blinds</p>
				</div>
				<div id="slider">
					<figure>
						<img src="img/cust8/1.jpg" alt="img">
			
						<img src="img/cust8/2.jpg" alt="img">
			
						<img src="img/cust8/3.jpg" alt="img">

						<img src="img/cust8/4.jpg" alt="img">
			
						<img src="img/cust8/5.jpg" alt="img">
					</figure>
				</div>
			</div>

			<div class="ninth">
				<div class="ninthleft">
					<h1>Madam Alejandra C Urriza </h1>
					<p>Maraming Salamat po at Salamat den po sa Pag titiwala ninyo sa amin</p>
					<p><strong>Location:</strong> Mabitac Laguna</p>
					<p><strong>Type: </strong>Vertical blinds</p>
					<p><strong>Fabric: </strong>Polyester Choco/Semi Black Out </p>
				</div>
				<div id="slider">
					<figure>
						<img src="img/cust9/1.jpg" alt="img">
			
						<img src="img/cust9/2.jpg" alt="img">
			
						<img src="img/cust9/3.jpg" alt="img">

						<img src="img/cust9/4.jpg" alt="img">
			
						<img src="img/cust9/5.jpg" alt="img">
					</figure>
				</div>
			</div>

			<div class="tenth">
				<div class="tenthleft">
					<h1>Sir Bryan Balderama</h1>
					<p>Maraming Salamat po at Salamat den po sa Pag titiwala ninyo sa amin</p>
					<p><strong>Location:</strong> Villa Elena Subdivision</p>
					<p><strong>Fabric: </strong>Green Wood/Semi Black Out</p>
				</div>
				<div id="slider">
					<figure>
						<img src="img/cust10/1.jpg" alt="img">
			
						<img src="img/cust10/2.jpg" alt="img">
			
						<img src="img/cust10/3.jpg" alt="img">

						<img src="img/cust10/4.jpg" alt="img">
			
						<img src="img/cust10/5.jpg" alt="img">
					</figure>
				</div>
			</div>


		</div>
	</section>
	
<!-- end gallery section -->

<!-- order section -->
	<section id="order">
		<div class="order">
			<h1 class="title">Order <span>Now!</span></h1>
			<form method="POST" action="/blogblog/newlist_url">
				<div class="date">Date: <script>document.write(new Date().toLocaleDateString());</script></div>
				<div class="personalinfo">
					<h2>Personal Information</h2>
					<label for="name">Name: </label>
					<input type='text' id="name" name="name" placeholder="Surname,Firstname MI." required>

					<label for="age" id="labelage">Age: </label>
					<input type='text' id="age" name="age" required><br><br>

					<label for="province">Province: </label>
					<input type='text' id="province" name="province" placeholder="e.g Cavite" required>

					<label for="city" id="labelcity">City/Municipality: </label>
					<input type='text' id="city" name="city" placeholder="e.g Dasmariñas City" required><br><br>

					<label for="brgy">Brgy: </label>
					<input type='text' id="brgy" name="brgy" placeholder="e.g Brgy. Fatima 1" required>

					<label for="subd" id="labelsubd">Subdivision: </label>
					<input type='text' id="subd" name="subd" placeholder="e.g Masagana Subdivision" required><br><br>

					<label for="unit">House Unit: </label>
					<input type='text' id="unit" name="unit" placeholder="e.g Blk 1 Lot 2 phase 3" required><br><br>
				</div>
				<p>Please make sure that the informations above are correct. Clicking 'Next' means you already confirm above informations.</p><br>
			<div class="pak2">
				<a href="{% url 'Youser' %}">Next</a>
			</div>
			</form>
		</div>
	</section>

<!-- end order section -->

<!-- contact section -->
	<section id="contact">
		<div class="contact container">
			<div class="col-left">
				<div class="img">
					<img src="./img/profile.jpg" alt="img">
				</div>
			</div>
			<div class="col-right">
				<h1 class="title">Contact <span>Me</span></h1>
				<h2>Owner</h2>
				<p><strong>Daniel Balaisi</strong>, 23 yrs.old. I have been in this business since 2018 and customers have proved the legitimacy of the products as well as the services offered.</p>
			</div>
		</div>
	</section>
	<section id="detail">
		<div class="detail container">
			<div>
				<h1 class="header">Contact Details</h1></div>
			<div class="items">
				<div class="item">
					<div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
					<div class="info">
						<h1>Phone</h1>
						<h2>0963 886 2740</h2>
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/gmail.png"/></div>
					<div class="info">
						<h1>Email</h1>
						<h2>P&AKoreanBlinds@gmail.com</h2>
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/address.png"/></div>
					<div class="info">
						<h1>Address</h1>
						<h2>Dasmariñas City, Cavite, Philippines - 4114</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- end contact section -->

<!-- footer section -->
	<section id="footer">
		<div class="footer container">
			<div class="brand">
				<h1>P<span>&</span>A <span>K</span>orean <span>B</span>linds</h1>
				<h2>Daniel Balaisi</h2>
				<div class="social-icon">
					<div class="item">
						<a href="https://www.facebook.com/danielhahaha14"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
					</div>
					<div class="item">
						<a href="https://www.instagram.com/danielbalaisi/"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
					</div>
					<div class="item">
						<a href="https://twitter.com/majicbits"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"/></a>
					</div>
				</div>
				<p>Copyright © 2021 Maggie Dinapo. All rights reserved.</p>
			</div>
		</div>
	</section>
<!-- end footer section -->
	<script src="./app.js"></script>
	<script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
        showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "flex";  
        }
	</script>
	
	
	
</body>
</html>